* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f5f6f8;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* LOGO */
.logo h2 {
  color: purple;
  text-shadow:0 0 5px #fff,
    0 0 10px #a855f7,
    0 0 20px #a855f7,
    0 0 40px #9333ea;;
}
.logo span {
  color: orange;
}
.logo p {
  font-size: 12px;
  color: gray;
}

/* NAV */
.navbar {
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar a:hover {
  color: purple;
}
/* .nav .active{
  color: purple;
} */

/* BUTTON */
.btn-primary {
  background: purple;
  color: white;
  border: none;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  text-shadow: 0 0 5px #fff,
    0 0 10px #a855f7,
    0 0 20px #a855f7,
    0 0 40px #9333ea;
}



.btn-primary i {
  margin-right: 5px;
}

/* HERO */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.hero-content {
  background: #e9ebee;
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  max-width: 90%;
}

#home h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

#home p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn-secondary {
  background: orange;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary i {
  margin-left: 10px;
}

/* TRUSTED */
.trusted {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trusted img {
  border-radius: 50%;
  width: 60px;
  object-fit: cover;
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 22px;
}
#services {
  padding: 80px 20px;
  background: #f5f6f8;
  text-align: center;
}

#services h2 {
  color: purple;
  margin-bottom: 15px;
  font-size: 36px;
}

#services .description {
  max-width: 900px;
  margin: auto;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.card {
  background: purple;
  color: white;
  padding: 30px 20px;
  border-radius: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ICON */
.card i {
  font-size: 30px;
  margin-bottom: 15px;
}

/* TITLE */
.card h3 {
  margin-bottom: 10px;
}

/* TEXT */
.card p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* BUTTON */
.card button {
  background: orange;
  border: none;
  padding: 9px 17px;
 
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
}

.card button i {
  margin-left: 5px;
  font-size: 14px;
   text-align: center;
  justify-content: center;
}
.footer {
  background: #eef0f3;
  padding: 60px 20px 20px;
  position: relative;
}

/* CONTAINER */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

/* LOGO */
.logo h2 {
  color: purple;
}
.logo span {
  color: orange;
}
.logo p {
  font-size: 12px;
  color: #666;
}

/* TEXT */
.footer-text {
  margin-top: 15px;
  line-height: 1.7;
  color: #333;
}

/* LINKS */
.footer-col h3 {
  color: purple;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: purple;
}

/* CONTACT */
.footer-col p {
  margin-bottom: 10px;
  color: #333;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons i {
  background: #dcdfe3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.social-icons i:hover{
  background-color: #087BB7;
  color: white;
}
.social-icons #inst:hover{
  color: white;
  background: linear-gradient(135deg, #8749B5, #D02299);
}

/* BACK TO TOP */
.back-to-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #41668d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  width: max-content;
  cursor: pointer;
}





/* ===================== */
/* RESPONSIVE DESIGN */
/* ===================== */

/* TABLET */
@media (max-width: 992px) {
  .header {
    padding: 15px 30px;
  }

  .navbar {
    gap: 15px;
  }

  
  #hero h1 {
    font-size: 26px;
  }
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
   .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  

  .menu-toggle {
    display: block;
  }

  .btn-primary {
    display: none;
  }

  .hero-content {
    padding: 30px;
  }

  
  #hero h1 {
    font-size: 25px;
  }

  #hero p {
    font-size: 15px;
  }

  .btn-secondary {
    padding: 12px 20px;
  }
  .services-grid {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 25px 15px;
  }
   .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .back-to-top {
    right: 10px;
    bottom: 10px;
  }
}